.Main {
  width: calc(100% - 56px);
  padding-left: 35px;
  padding-bottom: 10px;
  min-height: calc(100vh - 104px);
}
.mainContainer {
  width: 90%;
  padding: 50px 0px;
  margin: 0 auto;
}
@media only screen and (max-width: 600px) {
  .mainContainer {
    width: 100%;
    padding: 50px 10px;
  }
}
