.mainDiv {
  display: block;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  outline: none;
  width: 32em;
  padding: 1.25rem;
  margin: -100px auto auto;
  border-radius: 0.3125em;
  text-align: center;
  position: relative;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  z-index: 5600;
  animation: 300ms ease 0s 1 normal none running showSweetAlert;
}

.highLighter {
  position: relative;
  max-width: 100%;
  margin: 0px 0px 0.4em;
  padding: 0px;
  font-size: 1.875em;
  font-weight: 600;
  text-align: center;
  text-transform: none;
  overflow-wrap: break-word;
}

.highLighterH6 {
  position: relative;
  max-width: 100%;
  margin: 0px 0px 0.1em;
  padding: 0px;
  font-size: 0.875em;
  font-weight: 600;
  text-align: center;
  text-transform: none;
  overflow-wrap: break-word;
}

.AlertImageDiv {
  width: 80px;
  height: 80px;
  border-width: 4px;
  border-style: solid;
  border-color: rgb(238, 162, 54);
  border-radius: 50%;
  margin: 20px auto;
  position: relative;
  box-sizing: content-box;
  animation: 0.75s ease 0s infinite alternate none running pulseWarning;
}

.alertImageCircle {
  position: absolute;
  width: 5px;
  height: 47px;
  left: 50%;
  top: 10px;
  border-radius: 2px;
  margin-left: -2px;
  background-color: rgb(240, 173, 78);
  animation: 0.75s ease 0s infinite alternate none running pulseWarningIns;
}

.alertImageIcon {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-left: -3px;
  left: 50%;
  bottom: 10px;
  background-color: rgb(240, 173, 78);
  animation: 0.75s ease 0s infinite alternate none running pulseWarningIns;
}

.secondText {
  z-index: 1;
  justify-content: center;
  margin: 0px;
  padding: 0px;
  font-size: 1.125em;
  font-weight: 300;
  line-height: normal;
  text-align: center;
  overflow-wrap: break-word;
}
